.lottery-cont {
  width: 100%;
  padding: 20px 20%;
  text-align: center;
  min-height: calc(100vh - 120px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 480px) {
    padding: 20px 5%;
  }
}

.lottery-title {
  min-width: 100%;
  margin-top: 20px;
  font-size: 45px;
  color: var(--secondary-color-light);

  @media screen and (max-width: 480px) {
    font-size: 35px;
  }
}

.lottery-input {
  min-width: 100%;
  height: 70px;
  margin: 50px 0;

  input {
    direction: ltr;
    color: white;
    text-align: left;
    font-size: 16px;
  }
}

.lottery-err {
  color: var(--error-color);
  min-width: 100%;
}

.lottery-sub-material {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;

  @media screen and (max-width: 480px) {
    width: 100px;
    height: 100px;
  }
}

.lottery-sub {
  margin: -15px -15px 0 0;
  width: 150px;
  height: 150px;
  fill: var(--inactive-color);
  transition: all ease-out 0.2s;

  &.active {
    fill: var(--primary-color);
  }

  @media screen and (max-width: 480px) {
    width: 130px;
    height: 130px;
  }
}

.lottery-winners {
  position: fixed;
  z-index: 2;
  width: 40%;
  height: 250px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: #282829;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  animation: lottery ease-in-out 0.7s;

  @media screen and (max-width: 480px) {
    width: 90%;
    animation: lottery-mob ease-in-out 0.7s;
  }
}

@keyframes lottery {
  0% {
    left: -200px;
    width: 250px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.7);
  }

  75% {
    left: 50%;
    width: 250px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.7);
  }

  80% {
    left: 50%;
    width: 250px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.7);
  }

  100% {
    width: 40%;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes lottery-mob {
  0% {
    left: -200px;
    width: 250px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.7);
  }

  75% {
    left: 50%;
    width: 250px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.7);
  }

  80% {
    left: 50%;
    width: 250px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.7);
  }

  100% {
    width: 90%;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(1);
  }
}

.lottery-loading-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}