.summary-cont {
  animation: main-animation 1s ease;
  width: 100%;
  padding: 25px 20px;
  color: var(--secondary-color-light);
  text-align: justify;
  text-align-last: right;
  line-height: 30px;
  font-size: 14px;
  white-space: pre-wrap;

  @media screen and (min-width: 768px) {
    width: 80%;
  }
  @media screen and (min-width: 1024px) {
    width: 60%;
  }
  @media screen and (min-width: 1366px) {
    width: 50%;
  }
  @media screen and (min-width: 1920px) {
    width: 40%;
  }
}

.summary-cont-title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 15px;
}