:root {
  --background-color: #2C2C2E;
  --primary-color: #00a813;
  --secondary-color: rgba(204, 224, 217, 0.32);
  --secondary-color-light: #cce0d9;
  --grey-color: #B1B1B1;
  --success-color: #28BF49;
  --error-color: #C62828;
  --inactive-color: #707070;
  --dark-color: #303030;
}

$short-animation-duration: .1s;
$normal-animation-duration: .3s;
$long-animation-duration: .4s;
