:root {
  --background-color: #f0f0f0;
  --primary-color: #66FFCC;
  --primary-color-selected: #4fd2a6;
  --secondary-color: #B8CCC5;
  --secondary-color-light: #cce0d9;
  --grey-color: #B1B1B1;
  --success-color: #28BF49;
  --error-color: #C62828;
  --inactive-color: #707070;
  --dark-color: #303030;
}

$short-animation-duration: .1s;
$normal-animation-duration: .3s;
$long-animation-duration: .4s;
