:root {
  --background-color: #f0f0f0;
  --primary-color: #66FECC;
  --success-color: #28BF49;
  --error-color: #C62828;
  --dark-color: #303030;
}

$short-animation-duration: .1s;
$normal-animation-duration: .3s;
$long-animation-duration: .4s;
