.winners-cont {
  animation: main-animation 1s ease;
  color: var(--secondary-color-light);
  text-align: center;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px calc(10% - 20px);
}

.winners-section {
  flex-grow: 1;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  background-color: #282829;
  color: var(--secondary-color-light);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);

  &.none-box {
    background-color: transparent;
    box-shadow: none;
  }
}

@keyframes lottery-text {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  90% {
    opacity: 0;
    transform: scale(0.3);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.phone-direction {
  direction: ltr;
  line-height: 40px;
}

.winners-day {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;

  &.anime {
    animation: lottery-text ease-in-out 1s;
  }
}